:root{
    --dark-blue: #031750;
    --main-blue: #003069;
    --selection: #3fbeaf;
}

html,
body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;

}

nav {
    background-color: var(--dark-blue);
    vertical-align: center;
    height: 100%;
}
.navbar-brand{
    display: none;
}
.navbar-option-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar-option{
    display: inline-block;
    width: 100%;
}

li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 15px;
    color: white;
    font-size: 1rem;
}

li a p{
    font-size: 0.4rem;
    padding: 0;
    margin: 0;
}
.navbar-option:hover, .pestana-activa{
    color: var(--selection);
    box-shadow: inset 0 -5px 0 0 var(--selection);
}

.descripcion{
    background-color: var(--main-blue);
    display: none;
}

.contenido{
    background-color: white;
    grid-row: 1;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: start;
}
.grafica-contenedor{
    padding: 30px 30px 0 30px;
    height: 55vh;
    grid-row: 1;
    grid-column: 1 / span 3;
}
.grafica{
    display: block;
    box-sizing: border-box;
    width: 600px;
    height: 250px;
}
.controles{
    /*background-color: yellow;*/
    grid-column: 1 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.control{
    padding-bottom: 15px;
    margin: 0 50px;
}
.slider{
    display: flex;
    flex-direction: column;
}


#tipos-inversiones{
    width: 100%;
    display: flex;
    overflow: scroll;
}

.btn-invertir{
    width: 100%;
}

.botones{
    display: flex;
    flex-direction: row;
    display: none;
}

.btn-outline-primary{
    white-space: nowrap;
}

.desktop-only{
    display: none;
}


.gerencia-tabs{
    height: 60px;
    display: flex;
    flex-direction: row;
    grid-row: 1;
    grid-column: 1 / span 3;
    overflow: auto;
    white-space: nowrap;
    background-color: gainsboro;
    width: 100%;
}

.gerencia-tabs a {
    padding: 20px;

}

.gerencia-tabs a:hover{
    background-color: lightgray;
}

.gerencia-tabs a:active{
    background-color: dimgray;
}

.gerencia-contenido{

    grid-row: 2;
    grid-column: 1 / span 3;
    padding: 60px 30px 0 30px;
    display: grid;
    max-height: 500px;
}


.gerencia-header{
    grid-column: 1 / span 3;

}

.gerencia-botones{
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.gerencia-descripcion{
    font-size: 1rem;
    grid-row: 1;
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100px;
}

.table-responsive{
    grid-column: 1 / span 3;
}

.gerencia-grupo-campos{

    grid-row: 2;
    grid-column: 1 / span 3;
}

.gerencia-botones .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.gerencia-boton i {
    font-size: 1.2rem;
}

.gerencia-boton p {
    font-size: 0.6rem;
}

.intangible {
    pointer-events: none;
}

.perfil-contenido{
    height: 100%;
    grid-row: 2;
    grid-column: 1 / span 3;
    padding: 100px;
    display: grid;
}

.perfil-descripcion{
    font-size: 1rem;
    grid-row: 1;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100px;
}

.perfil-contenido {
    display: flex;
    flex-direction: column;
}

.perfil-datos {
    margin-bottom: 10px;
}

.perfil-botones {
    display: flex;
    flex-direction: column;
    height: 12px;
}

#guardar {
    width: 6em; /* Ajusta según tus necesidades */
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
}

#guardar .fa-pen {
    margin-top: 20%;
    font-size: 70%; 
}

#guardar p {
    font-size: 80%; 
    margin-top: 5px; 
}


@media (min-width: 992px) {
    .desktop-only{
        display: inline;
    }

    body {
        display: flex;
        flex-direction: column;
    }
    nav{
        padding: 0 150px;
        height: 60px;
    }
    .navbar-brand{
        display: flex;
        margin: 0;
        padding: 0;
    }
    li a {
        flex-direction: row;
        justify-content: center;
        font-size: 20px;
    }
    li a p {
        font-size: 20px;
        padding: 0 0 0 10px;
    }

    .crop{
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: end;
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 100;
    }

    img{
        height: 300%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .descripcion{
        display: flex;
        flex-direction: column;

        justify-content: center;
        color: white;
        height: 150px;
        width: 60%;
        padding: 0 150px;
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);


        position: absolute;
        left: 0;
        top: 60px;
        z-index: 1000;
    }

    .ajuste{
        height: 150px;
    }

    .descripcion p{
        width: 500px;
    }

    .controles{

        display: flex;
        flex-direction: column;
        justify-content: revert;
        padding: 20px 30px;

    }

    .control{
        margin: 0;
    }

    #tipos-inversiones{
        width: 100%;
        display: flow;
        overflow: auto;
    }


    .contenido{
        padding: 80px 150px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;

    }

    .controles{
        height: 100%;
        width: 30%;
        border-radius: 5%;
    }
    .grafica-contenedor{
        width: 70%;
        height: 90%;
        padding-left: 50px;
    }

    .gerencia-contenido{
        padding: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr auto;
    }

    .gerencia-descripcion{
        grid-row: 1;
        grid-column: 1 / span 2;
    }

    .gerencia-botones{
        grid-row: 1;
        grid-column: 3 / span 1;
        max-height: 100px;
    }


    .gerencia-grupo-campos{
        grid-row: 2;
        grid-column: 1 / span 3;
    }

    .gerencia-tabs{
        flex-direction: column;
        height: 100%;
        width: 30%;
        overflow: auto;
        white-space: normal;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }


    .gerencia-campo{
        padding: 15px;
    }


}