.formulario{
    margin-top: 100px;    
}

.contenido{
    margin-left: 30%;
}

.grupo-correoelectronico{
    margin-bottom: 25px;
}

#iniciarSesionButton{
    margin-left: 25%;
    margin-top: 30px;
    
}