.formulario{
    margin-top: 100px;    
}

.contenido{
    margin-left: 30%;
}


.contenedor-datos{
    margin-top: 10%;
}

.datos-personales{
    margin-left: 5%;
}

#cerrarSesionButton{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.grid-container {
	margin-top: 0;
	margin-left: 25%;
	margin-right: 25%;
	grid-template-columns: auto auto auto auto;
	display: grid;
}

.boton{
	grid-column-start: 1;
	grid-column-end: 5;
	padding-left: 40%;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content-local {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
}

.elementos-modal{
	padding-left: 20%;
	text-align: center;
	grid-template-columns: auto;
	display: grid;
	width: 70%;
	
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#mensajero{
	font-weight: bold;
}



#encabezadoDatosPersonales{
	font-size: 24px;
	margin-top: 10%;
	margin-bottom: 3%;
	margin-left: 15%;
}
